<div class="col-12 productsView pt-5">
    <h1>Móje produkty</h1>
  <div class="col-12 p-4 myProducts">
    <div *ngFor="let product of products" class="row myProduct py-5 ">
      <div class="col-8 cutText">
        {{product}}
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-4 myProductBtn primaryColorText accentColorTextHover">Podgląd</div>
          <div class="col-4 myProductBtn primaryColorText accentColorTextHover">Edytuj</div>
          <div class="col-4 myProductBtn primaryColorText accentColorTextHover">Usuń</div>
        </div>
      </div>
    </div>
  </div>
</div>
