<article class="p-md-5 myProfileView">
    <div class="formView col-xl-6 col-lg-8 col-md-10 col-12">
  <app-my-profile></app-my-profile>
  <div class="row">
    <div class="col-12 productsView pt-5">
        <h1>Móje produkty</h1>
      <div class="col-12 p-4 myProducts">
        <div *ngFor="let product of products" class="row myProduct py-5 ">
          <div class="col-xl-8 col-6 cutText">
            {{product.name}}
          </div>
          <div class="col-xl-4 col-6">
            <div class="row">
              <div routerLink="/produkt/{{product.productId}}" class="col-4 myProductBtn primaryColorText accentColorTextHover">Podgląd</div>
              <div routerLink="/edytuj-produkt/{{product.productId}}" class="col-4 myProductBtn primaryColorText accentColorTextHover">Edytuj</div>
              <div class="col-4 myProductBtn primaryColorText accentColorTextHover">Usuń</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</article>
