<button id="xdelo" [@searchPanel]='state' (click)='changState(); setCursorOnInputField()' (clickOutside)="hideSearchBar()" placement="right" mdbTooltip="Wyszukaj"  mdbBtn type="button"  class="accentColor waves-light search-button mt-4" mdbWavesEffect>
    <mdb-icon  [ngClass]="{searchIcon: searchBtn2}" size="2x" icon="search" class="searchIcon2"></mdb-icon>

   <ng-container *ngIf="wideBtns">
      <form autocomplete="off" [formGroup]="searchForm"  action="" class="searchForm">
        <input (keydown)="getDataOnSecondChange($event)" *ngIf="wideBtns" formControlName="search" name="search"  type="text" id="form1" class="form-control" placeholder="Wyszukaj" #searchInput>
        <div class="autocomplateHintsView">
          <ul *ngIf="hints && wideBtns" class="pt-4">
              <li (click)='hideSearchBar(); setHintValue(item)' class="py-1 px-2 trimText" *ngFor="let item of arrayOfStrings">{{item}}
              </li>
          </ul>
        </div>
      </form>
   </ng-container>

  </button>

