<article>
    <app-add-item-progress-bar class="registerInfoImage primaryColor col-1"></app-add-item-progress-bar>
        <div class="registerPanel col-xl-7 offset-xl-2 col-lg-11 offset-lg-0 col-md-11 offset-md-0 col-12 offset-0">
          <form [formGroup]="addItemForm" (ngSubmit)="onSubmit()" class="px-5">
              <h1 class="mb-4">Dodaj produkt</h1>

            <div *ngIf="subbmited && f.name.errors" class="red-text font-weight-bold">
                <div *ngIf="f.name.errors.required">Podaj Nazwę</div>
            </div>

            <input (keyup)="checkIfName($event)"  type="name" id="itemName" [ngClass]="{ 'isInvalid': submitted && f.name.errors}" formControlName="name" class="form-control mb-5 col-12" placeholder="Nazwa">



              <div class="row">
                <div class=" col-lg-6 col-12 por">
                  <div *ngIf="subbmited && !isCatChoosen" class="invalidForm red-text font-weight-bold">
                      <div *ngIf="subbmited && !isCatChoosen">Wybierz kategorię</div>
                  </div>

                  <select (change)="checkChoosenCat()" formControlName="category" class="browser-default custom-select mb-5">
                    <option  disabled >Kategorie</option>
                    <option value="1">Samochody</option>
                    <option value="2">Obuwie</option>
                    <option value="3">AGD/RTV</option>
                    <option value="4">Zdrowie</option>
                  </select>
                </div>



                <div class="col-lg-6 col-12 por">
                  <div *ngIf="isPrice && f.price.errors" class="invalidForm red-text font-weight-bold">
                      <div *ngIf="f.price.errors.required">Podaj Cenę</div>
                  </div>

                  <input (keyup)="checkIfPrice($event)" name="price" type="number" id="itemPrice" [ngClass]="{ 'isInvalid': submitted && f.price.errors }" formControlName="price" class="form-control mb-5" placeholder="Cena[zł]">
                </div>
              </div>



            <div *ngIf="subbmited && f.description.errors" class=" red-text font-weight-bold">
                <div *ngIf="f.description.errors.required">Podaj Opis</div>
            </div>

            <div class="md-form textarea">
              <textarea (keyup)="checkIfDescription($event)" type="text" id="itemDescription" class="md-textarea form-control mb-5" mdbInputDirective [ngClass]="{ 'isInvalid': submitted && f.description.errors}" formControlName="description"></textarea>
              <label class="descLabel" for="itemDescription">Opis</label>
            </div>



            <div *ngIf="fileError" class="red-text font-weight-bold">
                <div *ngIf="fileError">Wyślij zdjęcie typu JPG, albo PNG</div>
            </div>

            <div class="row">
              <div class="col-4 buttonsView">
                <div class="file ">
                  <input type="file" name="file" id="file" (change)="onSelectFile($event); fileChange($event)"/>
                  <label placement="right" mdbTooltip="Dodaj zdjęcie" for="file"><mdb-icon size="2x" icon="file-image-o"></mdb-icon></label>
                </div>
                <div>
                  <button placement="right" [ngClass]="{'pulse': !cantSendItem}" mdbTooltip="Wyślij" [disabled]="cantSendItem" mdbBtn  class="my-4" type="submit"><mdb-icon size="2x" icon="cloud-upload"></mdb-icon></button>
                </div>
              </div>

              <div *ngIf="choosenImg" class="col-8 imageResponse">
                <img [src]="url" alt="">
              </div>
            </div>




          </form>
        </div>

    </article>
