<article class="">
  <div class="white">
      <div class="catImg">
          <img src="../../assets/forUBanner.jpg" alt="nameCat" class="img-fluid">
        </div>
    <div class="catImg">
      <img src="../../assets/Baner - elektronika.jpg" alt="nameCat" class="img-fluid">
    </div>
    <div class="itemsGallery px-5">
      <div class="itemsShocase row">
        <div appFavCat appInCat="{{item.cat}}" routerLink="/produkt/{{item.id}}" *ngFor='let item of forU' class="itemsView col-xl-3 col-lg-4 col-md-6 offset-md-0 col-sm-8 offset-sm-2 col-xs-12 px-4">
          <div class="itmesInner">
            <div class="itemImage">
              <img src="{{item.image}}" alt="{{item.name}}" class="img-fluid">
            </div>
            <div class="accentColorTextHover">
              <div class="itemPrice">{{item.price}}zł</div>
              <div class="itemName">{{item.name}}</div>
            </div>

          </div>
        </div>
        <figure class="moreItemsBtn">Więcej...</figure>
      </div>
    </div>

    <div *ngIf="howManyCat === 2" class="itemsGallery px-5">
        <div class="catImg">
            <img src="../../assets/Baner - elektronika.jpg" alt="nameCat" class="img-fluid">
          </div>
      <div class="itemsShocase row">

          <div appFavCat appInCat="{{item.cat}}" routerLink="/produkt/{{item.id}}" *ngFor='let item of forU' class="itemsView col-xl-3 col-lg-4 col-md-6 offset-md-0 col-sm-8 offset-sm-2 col-xs-12 px-4">
            <div class="itmesInner">
              <div class="itemImage">
                <img src="{{item.image}}" alt="{{item.name}}" class="img-fluid">
              </div>
              <div class="accentColorTextHover">
                <div class="itemPrice">{{item.price}}zł</div>
                <div class="itemName">{{item.name}}</div>
              </div>


            </div>
          </div>
          <figure class="moreItemsBtn">Więcej...</figure>
        </div>
    </div>
  </div>

</article>
