<article class="p-md-5 myProfileView">
    <div class="formView col-xl-6 col-lg-8 col-md-10 col-12">
    <app-my-profile></app-my-profile>
<div class="row">
  <form [formGroup]="profileForm2" (ngSubmit)="onSubmit()" class="p-5 col-12">
      <h1>Zmień hasło</h1>
        <div class="row">
            <div class="col-12 mb-4">
                <input name="password" type="password" class="form-control mb-4" placeholder="Stare hasło">
              </div>

              <div class="col-12 mb-4">
                <input name="newPassword" type="password" class="form-control mb-4" placeholder="Nowe hasło">
              </div>

              <div class="col-12 mb-4">
                <input name="newPassword2" type="password"  class="form-control mb-4" placeholder="Powtórz hasło">
              </div>
        </div>
        <div class="buttonsView">
          <button mdbBtn block="true" class="my-4 col-6 offset-3 accentColor" type="button">Zapisz zmiany</button>

        </div>



      </form>
</div>
</div>
</article>
