<form [formGroup]="profileForm2" (ngSubmit)="onSubmit()" class="p-5 col-12">
    <h1>Zmień hasło</h1>
      <div class="row">
          <div class="col-12 mb-4">
              <input name="password" type="password" class="form-control mb-4" placeholder="Stare hasło">
            </div>

            <div class="col-12 mb-4">
              <input name="newPassword" type="password" class="form-control mb-4" placeholder="Nowe hasło">
            </div>

            <div class="col-12 mb-4">
              <input name="newPassword2" type="password"  class="form-control mb-4" placeholder="Powtórz hasło">
            </div>
      </div>
      <div class="buttonsView">
        <button mdbBtn block="true" class="my-4 col-6 offset-3 accentColor" type="button">Zapisz zmiany</button>

      </div>



    </form>
<!-- <form [formGroup]="profileForm2" class="p-5 ">
  <h1>Mój profil</h1>
  <div class="row">

    <div class="col-12 mb-4">
      <input name="password" type="password" class="form-control mb-4" placeholder="Stare hasło">
    </div>

    <div class="col-12 mb-4">
      <input name="newPassword" type="password" class="form-control mb-4" placeholder="Nowe hasło">
    </div>

    <div class="col-12 mb-4">
      <input name="newPassword2" type="password"  class="form-control mb-4" placeholder="Powtórz hasło">
    </div>

  </div>

  <div class="buttonsView">
    <button mdbBtn color="success" block="true" class="my-4 col-4 offset-4" type="submit">Zapisz zmiany</button>
  </div>

  <div class="buttonsView">
      <button (click)="toggleProfile()" mdbBtn block="true" class="my-4 col-4 offset-4 primaryColor" type="button">Zmień dane</button>
    </div>

</form> -->
          <!-- <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                      <span aria-hidden="true">×</span>
                    </button>
                    <h3 class="modal-title w-100" id="myModalLabel">Podaj email i hasło przed zatwierdzeniem danych</h3>
                  </div>
                  <div class="modal-body">
                        <div class="row">
                            <div class="col-10 offset-1">
                              <input name="emailChck" type="email" class="form-control mb-4" placeholder="email">
                            </div>
                            <div class="col-10 offset-1">
                              <input name="passwordChck" type="password" class="form-control mb-4" placeholder="Hasło">
                            </div>
                        </div>
                        <div class="buttonsView">
                          <button mdbBtn (click)="basicModal.show()" block="true" class="my-4 col-8 offset-2 accentColor" type="submit">Zapisz zmiany</button>
                        </div>
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
            </div> -->
