<div class="progrssBarView">
  <div class="progressBarCircle" [@checkCircle]='state1'>
    <mdb-icon *ngIf="itemsChecked >=1" size="2x" icon="check" class="searchIcon2"></mdb-icon>
  </div>

  <div class="progressBarLine">
    <div [@moveLine]='state1' class="progressBarLineChecked"></div>
  </div>



  <div class="progressBarCircle" [@checkCircle]='state2'>
    <mdb-icon *ngIf="itemsChecked >=2" size="2x" icon="check" class="searchIcon2"></mdb-icon>
  </div>

  <div class="progressBarLine">
      <div [@moveLine]='state2' class="progressBarLineChecked"></div>
  </div>



  <div class="progressBarCircle" [@checkCircle]='state3'>
    <mdb-icon *ngIf="itemsChecked >=3" size="2x" icon="check" class="searchIcon2"></mdb-icon>
  </div>

  <div class="progressBarLine">
    <div [@moveLine]='state3' class="progressBarLineChecked"></div>
  </div>



  <div class="progressBarCircle" [@checkCircle]='state4'>
    <mdb-icon *ngIf="itemsChecked >=4" size="2x" icon="check" class="searchIcon2"></mdb-icon>
  </div>

  <div class="progressBarLine">
    <div [@moveLine]='state4' class="progressBarLineChecked"></div>
  </div>



  <div class="progressBarCircle" [@checkCircle]='state5'>
    <mdb-icon *ngIf="itemsChecked >=5" size="2x" icon="check" class="searchIcon2"></mdb-icon>
  </div>
</div>
