
  <div class="col-12 btn-group pt-4 profileBtns" role="group" aria-label="Basic example">
    <span class="col-4 primaryColorText" routerLink="/moje-produkty" (click)="activeBtn(0)" [ngClass]="{'activeBtn': activeLink[0]}" >Produkty</span>
    <span class="col-4 primaryColorText" routerLink="/edytuj-profil" (click)="activeBtn(1)" [ngClass]="{'activeBtn': activeLink[1]}" >Edytuj</span>
    <span class="col-4 primaryColorText" routerLink="/prośby" (click)="activeBtn(2)" [ngClass]="{'activeBtn': activeLink[2]}" >Prośby</span>
  </div>
