<article class="">
<div class="itemsGallery">
  <div class="catImg">
    <img src="{{dummyData2}}" alt="nameCat" class="img-fluid">
  </div>
  <div class="white itemPadding px-5 py-5">
    <div class="itemsShocase row">
      <div appFavCat appInCat="{{item.cat}}" routerLink="/produkt/{{item.id}}" *ngFor="let item of dummyData"  class="itemsView col-xl-3 col-lg-4 col-md-6 offset-md-0 col-sm-8 offset-sm-2 col-xs-12 px-4">
        <div class="itmesInner">
          <div class="itemImage">
            <img src="{{item.image}}" alt="{{item.name}}" class="img-fluid">
          </div>
          <div class="itemPrice">{{item.price}}zł</div>
          <div class="itemName">{{item.name}}</div>

        </div>
      </div>
      <figure (click)="getData()" class="moreItemsBtn">Więcej...</figure>
    </div>
  </div>
</div>

</article>
