<article class="">
  <div class="itemsGallery">
    <div class="catImg">
      <img src="{{dummyData2}}" alt="nameCat" class="img-fluid">
    </div>
    <div class="white itemPadding px-5 py-5">
      <div class="itemsShocase row">
        <div appFavCat appInCat="{{item.categoryId}}" routerLink="/produkt/{{item.productId}}" *ngFor="let item of products" class="itemsView">
          <div class="itmesInner">
            <div class="itemImage">
              <img src="http://{{item.image}}" alt="{{item.name}}" class="img-fluid">
            </div>
            <div class="itemInfo">
              <div class="itemName trimText">{{item.name}}</div>
              <div class="itemPrice">{{item.price}}zł</div>
            </div>
          </div>
        </div>
        <div class="blindDiv"></div>
        <div class="blindDiv"></div>
        <div class="blindDiv"></div>
        <div class="blindDiv"></div>
      </div>
      <figure (click)="getData()" class="moreItemsBtn">Więcej...</figure>
    </div>
  </div>
</article>
