// .item-btn{
//   width: 100%;
// }
.item-buttons{
}
.item-buttons button{
  font-size: 1.1em;
  height: 100%;
}
.item-price{
  font-size: 3.3em;

}
.profile{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px 5px;
}
.profileIcon{
  border-radius: 50%;
  height: 200px;
  width: 200px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.profileTxt{
  font-size: 1.6em;
}
.res-img{
}
.itemTitle, .itemInfo{
  padding-left: 13px;
}
.itemInfo{
  font-size: 1.3em;
}
button{
  margin: 0;
  margin-bottom: 10px;
}
@media only screen and (max-width: 1199px){
  .hideOnMed{
    display: none !important;
  }

}
