// .item-btn{
//   width: 100%;
// }
.item-buttons{
}
.item-buttons button{
  font-size: 1.1em;
  height: 100%;
}
.item-price{
  font-size: 3.3em;

}
.profile{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px 5px;
}
.profileIcon{
  border-radius: 50%;
  height: 200px;
  width: 200px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.profileTxt{
  font-size: 1.6em;
}
.res-img{
}
.itemTitle, .itemInfo{
  padding-left: 13px;
}
.itemInfo{
  font-size: 1.3em;
}
button{
  margin: 0;
  margin-bottom: 10px;
}
nav{
  width: 100%;
  position: fixed;
  top: 0;
  height: 60px;
  z-index: 20;
  background-color: #7296BD;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.showOnLargeOnly, .showOnSmall{
  display: none !important;
}
.itemLilInfo{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.productsImageView{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.modal-footer{
  display: flex;
  justify-content: space-around;
}
.modal-title{
  text-align: center;
}
@media only screen and (max-width: 1199px){
  .hideOnLargeOnly{
    display: none !important;
  }
  .showOnLargeOnly{
    display: flex !important;
  }
  button{
    margin: 0;
    border-radius: 0;
    box-shadow: none;
  }
  .btn:hover, .btn:active, .btn:focus {
    box-shadow: none;
    outline: 0;
}

.btnH:hover{
  text-shadow: #FFF 0px 0px 6px, 1px 1px 1px rgba(255,255,255,0);
}
.noPT{
  cursor: default !important;
}

@media only screen and (max-width: 767px){
  .showOnLargeOnly{
    display: none !important;
  }
  .hideOnLargeOnly{
    display: block !important;
  }
}
}
