/* You can add global styles to this file, and also import other style files */
$color1: #37392e;
$color2: #28afb0;
$color3: #255c99;
$color4: #ddcecd;
$color5: #eee5e5;
body{
  color: $color1;
  background-color: #ffffff;
  overflow-x: hidden;
}
.primaryColor{
background-color: $color3;
}
.whiteColor{
background-color: $color5;
}
.greyColor{
background-color: $color4;
}
.darkColor{
background-color: $color1;
}
.accentColor{
background-color: $color2;
}

.primaryColorHover:hover{
background-color: $color3;
}
.whiteColorHover:hover{
background-color: $color5;
}
.greyColorHover:hover{
background-color: $color4;
}
.darkColorHover:hover{
background-color: $color1;
}
.accentColorHover:hover{
background-color: $color2;
}

.primaryColorText{
color: $color3;
}
.whiteColorText{
color: $color5;
}
.greyColorText{
color: $color4;
}
.darkColorText{
color: $color1;
}
.accentColorText{
color: $color2;
}

.primaryColorTextHover:hover{
color: $color3;
}
.whiteColorTextHover:hover{
color: $color5;
}
.greyColorTextHover:hover{
color: $color4;
}
.darkColorTextHover:hover{
color: $color1;
}
.accentColorTextHover:hover{
color: $color2;
}

.cp{
  cursor: pointer;
}
.por{
  position: relative;
}
header{
  font-size: 3em;
}
.itemsShocase{
  // display: flex;
  // align-items: center;
  // flex-wrap: wrap;
  // justify-content: space-around;
  background-color: #fff;
  padding: 15px 15px
}
.itemsView{
  padding: 10px 10px;
  width: 300px;
  height: 400px;
}
.itmesInner{
  // background-color: red;
  height: 100%;

}
.itmesInner:hover{
  color: $color1;
  cursor: pointer;
}
.itemImage{
  width: 100%;
  height: 80%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.itemImage img{
}

.itemPrice{
  font-size: 1.5em;
  font-weight: bold;
}

.itemsShocaseHeader{
  font-size: 2em;
  padding-left: 25px;
}
.itemsGallery{
  background-color: #fff;
  padding-top: 50px;
}
.moreItemsBtn{
  padding: 20px;
  font-size: 2em;
}
.moreItemsBtn:hover{
  color: $color1;
  cursor: pointer;
}
img{
  z-index: 1 !important;
}
.staticWidth{
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
.por{
  position: relative;
}
@media only screen and (max-width: 576px){
  .itemPadding{
    padding: 0 !important;
  }
}
