<button type="button" mdbBtn color="primary" class="relative waves-light hamburgerBtn search-button" (click)="mobileMenu.show()" mdbWavesEffect>
  <mdb-icon size="2x" icon="navicon"></mdb-icon>
</button>
<nav class="primaryColor desktopNav">
  <div class="por menu-buttons-view">
    <app-autocomplate></app-autocomplate>
    <button (click)="checkFavCatBtn()" routerLink="/" placement="right" type="button" class="menu-buttons cp whiteColorText accentColorTextHover mt-4" mdbTooltip="Strona Główna">
      <mdb-icon size="2x" icon="home" aria-hidden="true"></mdb-icon>
    </button>
    <button *ngIf="isThereFavCat" routerLink="/najnowsze" placement="right" type="button" class="menu-buttons cp whiteColorText accentColorTextHover" mdbTooltip="Najnowsze">
      <mdb-icon size="2x" icon="star" aria-hidden="true"></mdb-icon>
    </button>
      <ng-container *ngFor='let mItem of menuItem'>
        <button  routerLink="/kategoria/{{mItem.categoryName}}" placement="right"  type="button" class="menu-buttons cp whiteColorText accentColorTextHover" mdbTooltip="{{mItem.categoryName}}">
          <mdb-icon size="2x" icon="{{mItem.iconName}}"></mdb-icon>
        </button>
      </ng-container>
      <hr>
      <div class="mt-4">
          <div *ngIf="!isLogged" (clickOutside)="hideLoginForm($event)">
              <button (click)="toggleLoginForm()" placement="right" type="button"  class="menu-buttons cp whiteColorText accentColorTextHover" mdbTooltip="Zaloguj/Zarejestruj">
                <mdb-icon class="whiteColorText accentColorTextHover" size="2x" icon="sign-in" aria-hidden="true"></mdb-icon>
              </button>
              <ng-container *ngIf="isLogingIn">
                  <div  class="loginForm white p-4 z-depth-2">
                      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"  action="" class="logSingForm">
                          <div *ngIf="submitted" class="invalidRegister red-text font-weight-bold">
                              <div *ngIf="submitted">{{loginMessage}}</div>
                          </div>
                          <input (keyup)='checkEmail($event)' type="enail" id="lForm1" formControlName="email" name="email" class="form-control" placeholder="Email">
                          <input (keyup)='checkPassword($event)' type="password" name="password" id="lForm2" formControlName="password" class="form-control" placeholder="Hasło">

                          <button type="submit" mdbWavesEffect block="true" mdbBtn class="primaryColor   waves-light">Zaloguj się</button>

                          <button type="button" (click)='hideLoginForm()' routerLink="/rejestracja"  mdbWavesEffect block="true" mdbBtn class="primaryColor  waves-light mt-4">Zarejestruj się</button>
                      </form>
                  </div>
                </ng-container>
              </div>
        <ng-container *ngIf="isLogged">
          <button routerLink="/dodaj-produkt" placement="right" type="button"  class="menu-buttons cp whiteColorText accentColorTextHover"  mdbTooltip="Doddaj produkt">
            <mdb-icon size="2x" icon="plus" aria-hidden="true"></mdb-icon>
          </button>
          <button routerLink="/edytuj-profil" placement="right" type="button"  class="menu-buttons cp whiteColorText accentColorTextHover"  mdbTooltip="Mój profil">
            <mdb-icon size="2x" icon="user-circle" aria-hidden="true"></mdb-icon>
          </button>
          <button (click)="basicModal.show()" placement="right" type="button" class="menu-buttons cp whiteColorText accentColorTextHover"  mdbTooltip="Wyloguj">
            <mdb-icon size="2x" icon="sign-out" aria-hidden="true"></mdb-icon>
          </button>
        </ng-container>
      </div>
  </div>
</nav>





<div mdbModal #mobileMenu="mdbModal" class="modal mobileModal fade left" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-full-height modal" role="document">
    <div class="modal-content">
      <div class="modal-header px-0 pt-1">

        <app-mobile-autocomplate></app-mobile-autocomplate>
      </div>
      <div class="modal-body row">

        <ul class="mt-3 pl-3">
          <li (click)="checkFavCatBtn(); mobileMenu.hide()" routerLink="/" class="cp col-12">
            <mdb-icon size="1x" icon="home" aria-hidden="true"></mdb-icon>Strona główna
          </li>
          <li (click)="mobileMenu.hide()" *ngIf="isThereFavCat" routerLink="/najnowsze" class="cp col-12">
            Najnowsze
          </li>
          <hr>

          <ng-container *ngFor='let mItem of menuItem'>
            <li  routerLink="/kategoria/{{mItem.categoryName}}" class="cp col-12">
              <mdb-icon size="1x" icon="{{mItem.iconName}}"></mdb-icon>{{mItem.categoryName}}
            </li>
          </ng-container>

          <hr>

          <ng-container  *ngIf="!isLogged">
            <li (click)="toggleMobileLoginForm(); mobileMenu.hide()" class="cp col-12">
              <mdb-icon size="1x" icon="sign-in" aria-hidden="true" ></mdb-icon>Zaloguj się
            </li>
          </ng-container >
        <ng-container *ngIf="isLogged">
          <li (click)="mobileMenu.hide()" routerLink="/dodaj-produkt" class="cp col-12">
            <mdb-icon size="1x" icon="plus" aria-hidden="true"></mdb-icon>Dodaj produkt
          </li>
          <li (click)="mobileMenu.hide()" routerLink="/edytuj-profil" class="cp col-12">
            <mdb-icon size="1x" icon="user-circle" aria-hidden="true"></mdb-icon>Mój profil
          </li>
          <li (click)="mobileMenu.hide()" (click)="basicModal.show()" class="cp col-12">
            <mdb-icon size="1x" icon="sign-out" aria-hidden="true"></mdb-icon>Wyloguj się
          </li>
        </ng-container>
      </ul>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>




<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">Na pewno chcesz się wylogować?</h4>
        </div>
        <div class="modal-footer">
          <button type="button" mdbBtn class="waves-light primaryColor" mdbWavesEffect aria-label="Close" (click)="basicModal.hide()">Nie</button>
          <button type="button" mdbBtn class="waves-light accentColor" mdbWavesEffect                     (click)="logoutUser(); basicModal.hide()">Tak</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isMLogingIn">
      <div  class="loginFormM white p-4 z-depth-2">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"  action="" class="logSingForm">
              <div *ngIf="submitted" class="invalidRegister red-text font-weight-bold">
                  <div *ngIf="submitted">{{loginMessage}}</div>
              </div>
              <input (keyup)='checkEmail($event)' type="enail" id="lForm1" formControlName="email" class="form-control mb-3" placeholder="Email">
              <input (keyup)='checkPassword($event)' type="password" id="lForm2" formControlName="password" class="form-control mb-5" placeholder="Hasło">

              <button type="submit" mdbWavesEffect block="true" mdbBtn class="primaryColor waves-light">Zaloguj się</button>

              <button type="button" (click)='hideMobileLoginForm()' routerLink="/rejestracja"  mdbWavesEffect block="true" mdbBtn class="primaryColor  waves-light mt-3">Zarejestruj się</button>

              <button type="button" (click)='hideMobileLoginForm()' mdbWavesEffect block="true" mdbBtn color="primary" class="waves-light mt-3">Anuluj</button>
          </form>
      </div>
  </div>
